<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v5.3.0
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2025 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="KienVu">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="icon" href="/favicon.ico">
    <title>ToppiLife - Admin</title>
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/coreui/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/coreui/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/coreui/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/coreui/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/coreui/css/examples.css" rel="stylesheet">
    <script src="/coreui/js/config.js"></script>
    <script src="/coreui/js/color-modes.js"></script>
    <link href="/coreui/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

    <!-- customize -->
    <link href="https://unpkg.com/@coreui/icons/css/all.min.css" rel="stylesheet">
    <link href="/css/admin-product-types.css" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/sidebar.ejs')%>
    <div class="wrapper d-flex flex-column min-vh-100">
      <%- include('../partials/header.ejs')%>
      <div class="body flex-grow-1 pt-4 pb-4">
        <div class="container-fluid px-4">
              <%- body %>
      </div>
      <!-- <footer class="footer px-4">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io/product/free-bootstrap-admin-template/">Bootstrap Admin Template</a> &copy; 2025 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/bootstrap/docs/">CoreUI UI Components</a></div>
      </footer> -->
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/coreui/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/coreui/vendors/simplebar/js/simplebar.min.js"></script>
    <script>
      const header = document.querySelector('header.header');
      
      document.addEventListener('scroll', () => {
        if (header) {
          header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
      });
      
    </script>
    <!-- Plugins and scripts required by this view-->
    <script src="/coreui/vendors/chart.js/js/chart.umd.js"></script>
    <script src="/coreui/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="/coreui/vendors/@coreui/utils/js/index.js"></script>
    <script src="/coreui/js/main.js"></script>
  </body>
</html>